body {
  background: url("img/contact.jpg");
  background-position: cover;
}

#name,
h4 {
  display: block;  
  padding: 2px;
  margin: 15px;
  width: 70%;
  color: white;
  font-size: 20px;
  line-height: 10px;
}

#message,
#phone,
#email {
  display: block;
  width: 40%;
  padding: 2px;
  margin: 15px;
}

.btn {
  padding-left: 20px;
}
.btn a {
  text-decoration: none;
  position: relative;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.3s;
  background: rgb(252, 101, 0);
  padding: 10px;
}

.content {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.18);
  position: relative;
  /* left: 25%; */
  width: 50%;
  height: 80vh;
  position: relative;
  top: 20px;
}

.content > h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 2em;
  color: white;
}

.btn {
  padding: 5px;
  margin: 10px;
}

.btn:hover{
  color: lime;
}

@media (max-width: 769px) {
  .content {
    width: 100%;
  }
  .btn {
    left: 0;
  }
  #name, #message,#phone,#email{
      width: 80%;
  } 
  #message{
      height: 30%; 
  }
}



